{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 80,
    "bracketSpacing": false,
    "arrowParens": "always",
    "bracketSameLine": true,
    "cursorOffset": -1,
    "embeddedLanguageFormatting": "auto",
    "parser":"typescript"
}
