@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
    --background: #c9c9c9;
    --foreground: #c9c9c9;
    /* aria colors */
    --text-color: black;
    --border-color: gray;
    --field-background: white;
    --field-text-color: black;
    --focus-ring-color: green;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #c9c9c9;
        --foreground: #201f1f;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
.react-aria-TextField {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: var(--text-color);
  
    .react-aria-Input,
    .react-aria-TextArea {
      padding: 0.286rem;
      margin: 0;
      border: 1px solid var(--border-color);
      border-radius: 6px;
      background: var(--field-background);
      font-size: 1.143rem;
      color: var(--field-text-color);
  
      &[data-focused] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
      }
    }
  }
  